body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: transparent;
    font-size: 130%;
    background-repeat: no-repeat;
    background-size: cover;
}
       
    
    body.clear-sky {
    background-image: url('https://images.unsplash.com/photo-1558418294-9da149757efe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    }
 
    body.cloudy {
    background-image: url('https://images.unsplash.com/photo-1594156596782-656c93e4d504?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80');
    }
    
    body.rainy {
    background-image: url('https://images.unsplash.com/photo-1603321544554-f416a9a11fcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    }
     
    body.mist {
    background-image: url('https://images.unsplash.com/photo-1603794052293-650dbdeef72c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1112&q=80');
    }
  
  
  .card {
    background-color: rgba(26, 25, 25, 0.30);
    color:#EFEFEF;
    padding: 4em;
    border-radius: 35px;
    width: 100%;
    max-width: 540px;
    margin: 2em;
    border-radius: 15px;

  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: 4em;
    height: 44px;
    width: 44px;
    outline: 4em;
    background: aliceblue;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: 4em;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 30px;
    background: transparent;
    font-family: inherit;
    font-size: 110%;
    text-align: center;
    width: 200px;
    transition: 0.4s ease-in;
  }
::placeholder{
  color:#EFEFEF
}
  input.search-bar:focus{
    background-color: aliceblue;
    width: 500px;
  }
  button:hover {
    background: #0653616b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 1em;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }